
// Custom Fonts
// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Noticia+Text:400,400i,700i|Raleway:500,600,700,800');

$theme-font: 'Raleway', sans-serif;
$theme-color:#E83F3E;
$bcolor:#000;
$wcolor:#fff;
$gcolor:#9e9e9e;

// Start Sass Mixins

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box; 
}

@mixin border-radius-s($tl, $tr, $br, $bl) {
	border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
	-webkit-border-top-left-radius: $tl;
	-webkit-border-top-right-radius: $tr;
	-webkit-border-bottom-right-radius: $br;
	-webkit-border-bottom-left-radius: $bl;
	-moz-border-radius-topleft: $tl;
	-moz-border-radius-topright: $tr;
	-moz-border-radius-bottomright: $br;
	-moz-border-radius-bottomleft: $bl;
}

@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin linear-gradient($sc,$sp,$ec,$ep:null) {
  /* fallback/image non-cover color */
  background: $sc;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, $sc $sp, $ec $ep);

  /* Safari 4+, Chrome 1+ */
  background: -webkit-gradient(linear, left top, right top, color-stop($sp, $sc), color-stop($ep, $ec));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-linear-gradient(left, $sc $sp, $ec $ep);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, $sc $sp, $ec $ep);

  /* IE10+ */
  background: -ms-linear-gradient(left, $sc $sp, $ec $ep);

  /* Standard */
  background: linear-gradient(to right, $sc $sp, $ec $ep);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sc', endColorstr='$ec',GradientType=1 );
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin scale ($svalue) {
	@include transform(scale($svalue));
}

@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin transition($property,$time,$effect){
	-webkit-transition: $property $time $effect;
	-moz-transition: $property $time $effect;
  	-ms-transition: $property $time $effect;
	-o-transition: $property $time $effect;
  	transition: $property $time $effect;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
   	-moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
  	transform: $transforms;
}

@mixin translate ($x,$y) {
	@include transform(translate($x,$y));
}

// *********************************************

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {overflow-x: hidden;}

body {
    font-family:$theme-font;
  	overflow-x: hidden;
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a{
	color:$bcolor;

	&:hover, &:visited, &:focus {
	  	text-decoration: none;
		background-color: transparent;
		outline: 0;
	}
}

.zoomIn:hover{
	@include scale(1.2);
	@include transition(all,0.8s,ease);
}

.tbtn{
	width: 200px;
    border-radius: 25px;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn-fill{
	background: $theme-color;
    border: 2px solid $theme-color;
    color: $wcolor;
    @include transition(all,0.4s,ease-out);

    &:hover{
    	background: $bcolor;
    	border: 2px solid $bcolor;
    	color: $wcolor;
    }
}

.btn-outline{
	background: transparent;
    border: 2px solid $wcolor;
    color: $wcolor;
    @include transition(all,0.4s,ease-out);

    &:hover{
    	background: $bcolor;
    	border: 2px solid $bcolor;
    	color: $wcolor;
    }
}

.section-padding{padding: 5% 0;}

.section-header{
	text-align: center;

	p{
    	color: #45d5d3;
	    font-family: 'Noticia Text',serif;
	    font-size: 18px;
	    font-style: italic;
	    font-weight: 400;
        margin-bottom: 0;
    }

    span{
		color: $wcolor;
	    font-size: 50px;
	    font-weight: 700;
	    text-transform: capitalize;
    }
}

.section-content{
    width: 75%;
    margin: 0 auto;
}

.img-bg{
	height: 850px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
}

.tcolor{color:$theme-color;}


// CSS For Header Section

.header{
    background-image: url(../images/hp.jpg);
    background-position: top center;

    .menu{
		height: 95px;
    	padding-top: 35px;
    	position: fixed;
	    top: 0;
	    left: 0px;
	    right: 0px;
	    z-index: 20;
	    transition: background 0.3s ease-in;
	    -webkit-transition: background 0.3s ease-in;
		-moz-transition: background 0.3s ease-in;
	  	-ms-transition: background 0.3s ease-in;
		-o-transition: background 0.3s ease-in;

    	.logo{
    		a{
    			color: $wcolor;
			    font-size: 35px;
			    font-weight: 700;
			    line-height: 0;
			    text-transform: capitalize;
    		}
    	}

		.navbar{
			padding: 0;
			.navbar-nav{
				.nav-item{
					margin: 0 15px;
					.nav-link{
						color: $wcolor;
					    font-size: 16px;
					    font-weight: 500;
					    padding: 0;
					    text-transform: capitalize;

					    &:hover{
					    	color: $theme-color;
					    	@include transition(all,0.5s,ease-out);
					    }
					}
					.active{
						color:$theme-color;
						@include transition(all,0.5s,ease-out);
					}
				}
			}
		}

		.menu-toggle-btn{
			margin-top: -5px;
			a{
				span{
					height: 2px;
					background: $wcolor;
					clear: both;
				    display: block;
				    float: right;
				    margin-bottom: 5px;
				}

				span:nth-child(1){width: 35px;}
				span:nth-child(2){width: 25px;}
				span:nth-child(3){width: 25px;}
			}

			.mitems{
				background: #000000f7;
			    position: absolute;
			    top: 45px;
			    left: 0;
			    width: 170px;
			    height: 285px;
			    display: none;
			    padding: 10px;
			    text-align: center;
			    @include transition(all,0.5s,ease);

				li{
				    margin-bottom: 15px;
					a{
						color:$wcolor;
						text-transform: capitalize;
					}
				}
			}
		}
	}

	.header-text{
		max-width: 700px;
	    margin: 0 auto;
	    text-align: center;
	    position: relative;
		top: 325px;

	    span{
	    	max-width: 575px;
	    	color: $wcolor;
	    	display: block;
		    font-size: 74px;
		    font-weight: 700;
		    text-transform: capitalize;
		    overflow: hidden; /* Ensures the content is not revealed until the animation */
			border-right: 10px solid $wcolor; /* The typwriter cursor */
			white-space: nowrap; /* Keeps the content on a single line */
			margin: 0 auto; /* Gives that scrolling effect as the typing happens */
			letter-spacing: 0; /* Adjust as needed */
			animation: typing 5.5s steps(40, end),
    				   blink-caret .75s step-end infinite;
	    }

	    p{
	    	color: $wcolor;
		    font-family: 'Noticia Text',serif;
		    font-size: 20px;
		    font-style: italic;
		    font-weight: 400;
		    margin-bottom: 70px;
	    }
	}	
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $wcolor; }
}

// ************************************

/* CSS For About Section */

.about{
    background-image: url(../images/about-bg.jpg);
	display: inline-block;
    .about-gradient{
    	position: relative;
	    top: -68px;
	    height: 850px;
	    padding-top: 5%;
    	@include linear-gradient(rgba(0, 0, 0, 0.49),60%,rgba(36, 59, 85, 0.72));
    	.about-intro{
	    	padding-top: 7%;

	    	p{
	    		color: #c4c4c4;
			    font-family: 'Noticia-text',serif;
			    font-size: 18px;
	    		font-weight: 400;
	    	}

	    	.personal-info{
	    		margin-top: 25px;

	    		p{margin-bottom:0;}
	    	}

	    	.social{
			    margin-top: 15px;
	    		h5{
	    			color: $theme-color;
	    			font-size: 22px;
				    font-weight: 600;
				    text-transform: capitalize;
	    		}

	    		a{margin-right: 5px;}
	    	}
	    }
    }
}

// ************************************

/* CSS For Skill Section */

.skills{
	height:680px;
	.section-header{
		span{color:$bcolor;}
	}

	.section-content{
		padding-top: 4%;
		.skill-text{
		    max-width: 665px;
			h5{
				color: #131313;
			    font-size: 25px;
			    font-weight: 600;
			    text-transform: capitalize;
			}

			.skill-box{
				position: relative;
			    margin-top: 20px;
				span{
					color: #131313;
					font-family: 'Noticia Text',serif;
				    font-size: 12px;
				    font-style: italic;
				    font-weight: 700;
				    margin-bottom: 0;
			        text-transform: uppercase;
			        vertical-align: super;
				}

				label{
					@extend span;
				    width: 35px;
				    height: 30px;
				    background: #45D5D3;
				    color:$wcolor;
				    line-height: 30px;
				    text-align: center;
				    position: absolute;
				    right: 70px;
				    top: -15px;

				    &:after{
				    	content:"";
				    	width: 0; 
						height: 0; 
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 8px solid #45D5D3;
				    }
				}

				.progress{
					height:8px;
				    border-radius: 0;
					.progress-bar{background:#131313;}
				}
			}
		}
	}
}

// ************************************

/* CSS For Interest Section */

.interest{
    height: 550px;
    background-image: url(../images/interest-bg.jpg);
    .interest-gradient{
    	position: relative;
	    top: -68px;
	    height: 550px;
	    padding-top: 5%;
    	@include linear-gradient(rgba(96, 101, 201, 0.6),0%,rgba(32, 227, 178, 0.81),100%);

    	.section-content{
    		.row{
    			margin-top: 5%;

    			h1{
		    		color:$wcolor;
		    		font-size: 50px;
				    font-weight: 400;
				    text-align: center;
		    	}

		    	p{
				    color: #131313;
				    font-size: 18px;
				    font-weight: 800;
			        text-align: center;
				    text-transform: uppercase;
		    	}
    		}
    	}
    }
}

// ************************************

/* CSS For Education Section */

.education{
	height: 860px;
	.section-header{
		p{color:$theme-color;}
		span{color:$bcolor;}
	}

	.section-content{
		padding-top: 4%;
		
		.education-item{
		    margin-bottom: 4%;
			.education-content{
				.edu-year{
					width: 255px;
				    height: 145px;
				    background: $theme-color;
				    color: $wcolor;
				    font-size: 22px;
				    font-weight: 700;
				    padding: 30px;
				    position: absolute;
				    right: 85px;

				    &:after{
				    	content:"";
				    	width: 0; 
						height: 0; 
						border-top: 20px solid transparent;
					    border-bottom: 20px solid transparent;
					    border-left: 20px solid #F44C49;
					    position: absolute;
					    top: 55px;
					    right: -20px;
				    }
				}

				.edu-details{
					max-width: 700px;

					h4{
						color: $theme-color;
					    font-size: 18px;
					    font-weight: 700;
					    text-transform: capitalize;
					}

					h5{
						color: #131313;
					    font-size: 14px;
					    font-weight: 700;
					    text-transform: capitalize;
					}

					p{
						color: #727272;
					    font-family: 'Noticia Text',serif;
					    font-size: 15px;
					    font-style: italic;
					    font-weight: 400;
					}
				}
			}
		}
	}
}

// ************************************

/* CSS For Protfolio Section */

.protfolio{
	height: 1350px;
    .protfolio-gradient{
    	position: relative;
	    top: -68px;
	    height: 1350px;
	    padding-top: 5%;
    	@include linear-gradient(#131313,0%,#243B55,100%);

    	.section-content{
    		#pslider{
			    margin-top: 13%;
    			.carousel-indicators{
				    top: -115px;
    				li{
    					width: 140px;
					    height: 40px;
				        margin-right: 20px;
					    text-indent: 0;
					    background: transparent;
					    border: 1px solid $wcolor;
					    border-radius: 20px;
					    color: #fff;
					    cursor: pointer;
					    font-size: 14px;
					    font-weight: 700;
					    line-height: 40px;
					    text-align: center;
					    text-transform: uppercase;
    				}

    				.active{
    					@include linear-gradient(#40D7CF,0%,rgba(32, 227, 178, 0.69),100%);
    					border: 1px solid #40D7CF;
    				}
    			}

    			.row{
	    			margin-bottom: 3%;
	    			.protfolio-box{
					    text-align: center;

					    .photo{
					    	img{
					    		@include opacity(1);

					    		&:hover{
					    			@include opacity(0.7);
					    			@include transition(all,0.3s,ease-out);
					    		}
					    	}
					    }

					    .name{
					    	max-width: 330px;
						    margin: 0 auto;
						    padding: 10px 0;

						    a{
						    	color: $wcolor;
							    font-family: 'Noticia Text',serif;
							    font-size: 16px;
							    font-weight: 400;
						    }
					    }
		    		}
	    		}
    		}
    	}
    }
}

// ************************************

/* CSS For Interest Section */

.field{
    height: 800px;
    background-image: url(../images/work-bg.jpg);
    .field-gradient{
    	position: relative;
	    top: -68px;
	    height: 800px;
	    padding-top: 5%;
    	@include linear-gradient(#e9ecef,0%,rgba(233, 236, 239, 0.38),100%);

    	.section-header{
			p{color:$theme-color;}
			span{color:$bcolor;}
		}

    	.section-content{
    		.row{
    			margin-top: 5%;

    			h1{
		    		color:$theme-color;
		    		font-size: 40px;
				    font-weight: 400;
		    	}

		    	h5{
		    		color: #131313;
				    font-size: 16px;
				    font-weight: 700;
				    text-transform: uppercase;
		    	}

		    	p{
				    color: #727272;
				    font-family: 'Noticia Text',serif;
				    font-size: 15px;
				    font-weight: 400;
		    	}
    		}
    	}
    }
}

// ************************************


/* CSS For Experience Section */

.experience{
    @extend .education;

    .section-header{
			p{color:#45d5d3;}
			span{color:$bcolor;}
		}

    	.section-content{
    		.education-item{
    			.education-content{
    				.edu-year{
    					@include linear-gradient(#20E3B2,0%,#45D5D3,100%);

    					&:after{
						    border-left: 20px solid #45D5D3;
					    }
    				}

    				.edu-details{
    					h4{color:#45d5d3;}
    				}
    			}
    		}
    	}
}

// ************************************

/* CSS For About Section */

.testimonials{
	height: 600px;
    background-image: url(../images/testimonial-bg.jpg);
    .testimonials-gradient{
    	position: relative;
	    top: -68px;
	    height: 600px;
	    padding-top: 5%;
    	@include linear-gradient(rgba(0, 0, 0, 0.49),60%,rgba(36, 59, 85, 0.72));
    	

    	.section-content{
		    padding-top: 5%;
    		.testimonial-box{
			    border: 1px solid $wcolor;
			    border-radius: 5px;
			    padding: 25px;

			    .client-info{
    				.client-photo{
    					img{
    						width: 95px;
							height: 95px;
    						border-radius: 50%;
    					}
    				}

    				.client-name{
					    color: #45d5d3;
					    font-size: 14px;
					    font-weight: 700;
					    padding-top: 13px;
					    text-transform: uppercase;
    				}
			    }

			    .client-text{
		    	    .rating{color: #FFC600;}

		    	    p{
		    	    	color: $wcolor;
					    font-family: 'Noticia Text',serif;
					    font-size: 13px;
					    font-style: italic;
					    font-weight: 400;
				        line-height: 26px;
		    	    }
			    }
    		}
    	}
    }
}

// ************************************

/* CSS For Experience Section */

.contact{

    .section-header{
		p{color:#45d5d3;}
		span{color:$bcolor;}
	}

	.section-content{

		.contact-form{
			max-width: 1000px;
    		margin: 0 auto;
    		padding-top: 5%;
    		
			button{
				@include linear-gradient(#40D7CF,0%,rgba(32, 227, 178, 0.69),100%);
				color: $wcolor;
			    border-radius: 30px;
			    font-size: 16px;
			    font-weight: 700;
			    padding: 13px 0;
			    text-transform: uppercase;

			    &:hover{
			    	background: $theme-color;
			    	@include transition(all,0.4s,ease-in);
			    }
			}

			#map{
				width:500px;
				height:465px;
			}
		}
	}
}

// ************************************

// CSS For Address Section

.address{
    height: 200px;
	@include linear-gradient(#40D7CF,0%,rgba(32, 227, 178, 0.69),100%);

	.col-color{
	    height: 199px;
		background:#65E5D2;
	}

	.address-box{
	    padding-top: 15%;
    	padding-bottom: 10%;

    	h5{
    		color: #131313;
		    font-weight: 700;
		    text-transform: uppercase;
    	}

    	p{
	    	color: #131313;
		    font-family: 'Noticia Text',serif;
		    font-size: 16px;
		    font-weight: 400;
	        margin-bottom: 3px;
	    }
	}
}

// ************************************

// CSS For Footer Social Section

.footer-social{
	height: 200px;
    background: #131313;

    .fs-text{
    	color: $wcolor;
	    padding-top: 45px;
	    text-align: center;

	    h5{
	    	font-size: 32px;
		    font-weight: 700;
		    text-transform: capitalize;
	    }

	    p{
		    font-family: 'Noticia Text',serif;
		    font-size: 14px;
		    font-weight: 400;
	    }

	    a{margin-right: 5px;}
    }
}

// ************************************


// CSS For Footer Section

.footer{
    height: 60px;
    background: #0d0d0d;
    color: #fff;
    padding-top: 20px;
    text-align: center;

    p{
    	font-family: 'Noticia Text',serif;
	    font-size: 14px;
	    font-weight: 400;
    	text-transform: capitalize;

    	a{color:$wcolor;}
    }
}

// ************************************

